<div class="site-actions-cart">
	<a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">		
		<i class="icon ion-bag"></i>		
		<span class="cart_count" id="CartCount">
			<span>{{ cart.item_count }}</span>
		</span>          
	</a>
</div>
