<div class="page">  
    <div class="container">
        {% include 'breadcrumb' %}
    	<header class="page-header text-center">
    		<h1 class="page-title">{{ page.title }}</h1>
    	</header>    
    	<section class="page-content">
    		{{ page.content }}
    	</section>    
    </div>  
</div>