$(document).ready(function() {
    $('.testimonials_slick').slick({



       	// dots: true,
        // infinite: true,
        // speed: 500,
        // fade: false,
        // slide: 'li',
        // cssEase: 'linear',
        // centerMode: true,
        // slidesToShow: 1,
        // variableWidth: true,
        // autoplay: true,
        // autoplaySpeed: 4000,
        // responsive: [{
        //     breakpoint: 800,
        //     settings: {
        //         arrows: false,
        //         centerMode: false,
        //         centerPadding: '40px',
        //         variableWidth: false,
        //         slidesToShow: 1,
        //         dots: true
        //     },
        //     breakpoint: 1200,
        //     settings: {
        //         arrows: false,
        //         centerMode: false,
        //         centerPadding: '40px',
        //         variableWidth: false,
        //         slidesToShow: 1,
        //         dots: true
        //     }
        // }],
        // nextArrow: "<a href='#' class='slick-next-icon btn--next'><span class='lnr lnr-arrow-right'></span></a>",
        // prevArrow: "<a href='#' type='button' class='slick-prev-icon btn--prev'><span class='lnr lnr-arrow-left'></span></a>",
        // customPaging: function (slider, i) {
        //     return '<button class="tab">' + $('#product-single__slide_thumbs li:nth-child(' + (i + 1) + ')').html() + '</button>';
        // }

        	  dots: true,
  infinite: true,
  speed: 500,
  fade: true,
  cssEase: 'linear'



    });

});