jQuery(window).load(function() {  
    /* For lazy load images ======================================== */
    $(".lazy").lazyload({
        effect : "fadeIn"
    });   
    /* Header Account Toggle Click ================================= */
    $('#account_toggle').click(function() {
        $(this).toggleClass('active');
        $('#account_toggle_overlay').toggleClass('open');
    });    

});

jQuery(document).ready(function($) {    
    /* Config menu for mobile ===================================== */
    $("nav.mobile select").change(function() {
        window.location = jQuery(this).val();
    });  
    $("li.dropdown").hover(function() {
        $(this).children('.dropdown').show();
        $(this).children('.dropdown').stop();
        $(this).children('.dropdown').animate({
        opacity: 1.0
        }, 200);
    }, function() {
        $(this).children('.dropdown').stop();
        $(this).children('.dropdown').animate({
          opacity: 0.0
        }, 400, function() {
          $(this).hide();
        });
    });
        
    /* Headroom - Hide your header, footer until you need it ==== */
    jQuery("#header").headroom();      
    jQuery("#footer-tapbar").headroom();           

    /* Accordion ================================================ */
    var action = "click";
    var speed = "500";
    jQuery('li.action_1').on(action, function() {
        $(this).next()
        .slideToggle(speed)
        .siblings('li.action_2')
        .slideUp();        
    });

    /* click toggle show hide jquery ===================================== */
    $(function () {
        $('.popup-modal').magnificPopup({
            type: 'inline',
            preloader: false,
            focus: '#username',
            modal: true
        });
        $(document).on('click', '.popup-modal-dismiss', function (e) {
            e.preventDefault();
            $.magnificPopup.close();
        });
    });
    

    /* Video Story ===================================== */
    jQuery("#video_story").fitVids();

    /* Newsletter - Popup ===================================== */
    jQuery('#popup-container a.close').click(function() {
        jQuery('#popup-container').fadeOut();
        jQuery('#active-popup').fadeOut();
    });
    var visits = jQuery.cookie('visits') || 0;
    visits++;
    jQuery.cookie('visits', visits, { expires: 1, path: '/' });
    console.debug(jQuery.cookie('visits'));

    if (jQuery.cookie('visits') > 1) {
        jQuery('#active-popup').hide();
        jQuery('#popup-container').hide();
    } else {
        var pageHeight = jQuery(document).height();
        jQuery('{% if settings.enable_newsletter_popup %}<div class="hidden-xs" id="active-popup"></div>{% endif %}').appendTo('body');
        jQuery('#active-popup').css("height", pageHeight);
        jQuery('#popup-container').show();
    }
    if (jQuery.cookie('noShowWelcome')) { jQuery('#popup-container').hide();
        jQuery('#active-popup').hide(); }

    /* Single Product Video - Popup ===================================== */
    jQuery('.product_popup_video').magnificPopup({
      disableOn: 700,
      type: 'iframe',
      mainClass: 'mfp-fade',
      removalDelay: 160,
      preloader: false,
      fixedContentPos: false
    });

    /* header sticky ===================================== */
    jQuery(window).scroll(function(){
      var sticky = jQuery('.header__sticky'),
      scroll = jQuery(window).scrollTop();
      if (scroll >= 100) sticky.addClass('fixed');
        else sticky.removeClass('fixed');
    });    

    /* sticky ===================================== */
    jQuery('.sticky').Stickyfill();
    jQuery('#single_image_carousel').slick({
      dots: true,
      nextArrow: "<a href='#' class='slick-next-icon btn--next'><span class='lnr lnr-arrow-right'></span></a>",
      prevArrow: "<a href='#' type='button' class='slick-prev-icon btn--prev'><span class='lnr lnr-arrow-left'></span></a>"            
    });
    jQuery('.product-slider').slick({
        dots: true,
        arrows: false,
        customPaging : function(slider, i) {
            return '<span class="dots">slick</span>';
        }
    });
    /* Product Thumbnail Slider ===================================== */
    jQuery('#product-single__slide').slick({
        dots: true,
        infinite: true,
        speed: 500,
        fade: false,
        slide: 'li',
        cssEase: 'linear',
        centerMode: true,
        slidesToShow: 1,
        variableWidth: true,
        autoplay: false,
        autoplaySpeed: 4000,
        responsive: [{
            breakpoint: 800,
            settings: {
                arrows: false,
                centerMode: false,
                centerPadding: '40px',
                variableWidth: false,
                slidesToShow: 1,
                dots: true
            },
            breakpoint: 1200,
            settings: {
                arrows: false,
                centerMode: false,
                centerPadding: '40px',
                variableWidth: false,
                slidesToShow: 1,
                dots: true
            }
        }],
        nextArrow: "<a href='#' class='slick-next-icon btn--next'><span class='lnr lnr-arrow-right'></span></a>",
        prevArrow: "<a href='#' type='button' class='slick-prev-icon btn--prev'><span class='lnr lnr-arrow-left'></span></a>",
        customPaging: function (slider, i) {
            return '<button class="tab">' + jQuery('#product-single__slide_thumbs li:nth-child(' + (i + 1) + ')').html() + '</button>';
        }
    });
    //jQuery('.slick-thumbs').html('');
    //jQuery('.slick-dots').appendTo('.slick-thumbs');

    /* Tabbed Content ===================================== */
    jQuery('ul.tabs .tab_item').click(function(){
      var tab_id = jQuery(this).attr('data-tab');
      jQuery('ul.tabs .tab_item').removeClass('current');
      jQuery('.tab-content').removeClass('current');
      jQuery(this).addClass('current');
      jQuery("#"+tab_id).addClass('current');
    })
}); 
jQuery(document).mouseup(function(e) {
    var container = jQuery('#popup-container');
    if (!container.is(e.target) && container.has(e.target).length === 0) {
        container.fadeOut();
        jQuery('#active-popup').fadeOut();
    }
});

;(jQuery);


$(function(){
  $(window).on('load', function(){
    $('[data-src]').each(function(){
      var $this = $(this),
        src = $(this).data('src');
        $this.attr('src', src);
        console.log(src);
    });
  });  
});


/* Google Maps ===================================== */
function initMap() {    
    var map = new google.maps.Map(document.getElementById('map-canvas'), {
        center: {lat: -34.397, lng: 150.644},
        scrollwheel: false,
        zoom: 8
    });
}




